@import '~@ng-select/ng-select/themes/default.theme.css';

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Cantarell, sans-serif;
}

p {
  font-family: Lato;
}

ng-select {
  .ng-value {
    display    : flex;
    align-items: center;
  }

  .ng-option img {
    margin-right : 10px;
    border-radius: 3px;
  }

  .ng-value {
    img {
      margin-right : 10px;
      border-radius: 3px;
    }

    span {
      display: block;
      color  : gray;
    }
  }

  .ng-select-container {
    padding   : 15px 0px !important;
    height    : 60px !important;
    border    : none !important;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 37%) !important;

    &:hover {
      border    : none !important;
      box-shadow: 0 1px 5px 0 rgb(0 0 0 / 37%) !important;
      background: #f7f7f7;
    }
  }

  input {
    padding: 20px 0 !important;
  }

  ng-dropdown-panel {
    border    : 0 !important;
    box-shadow: 0 5px 5px #0000005e !important;
  }
}

.container {
  max-width: 500px;
  margin   : auto;
}
